<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <!-- Contact Us Page -->
    <div class="contact-us-container">
        <h2>Contact Us</h2>
        <div>
            <h3>Team Plantcare AI</h3>
            <h4>contact us at: plantcareai@gmail.com</h2>
            <h4>Contact Nearby Nurseries =></h4>
        </div>
        <div class="contact-item">
            <h3>Anjali Nursery</h3>
            <p>Contact Number: <a href="tel:+06205011527">062050 11527</a></p>
            <p><a href="https://g.co/kgs/12Kn3L6" target="_blank">Visit Website</a></p>
        </div>

        <div class="contact-item">
            <h3>Alpine Greens Plants Nursery</h3>
            <p>Contact Number: <a href="tel:+09511744907">095117 44907</a></p>
            <p><a href="https://g.co/kgs/wTazYZB" target="_blank">Visit Website</a></p>
        </div>

        <div class="contact-item">
            <h3>Shree Gurudatt Nursery</h3>
            <p>Contact Number: <a href="tel:+09822517190">098225 17190</a></p>
            <p><a href="https://g.co/kgs/qRiQKp9" target="_blank">Visit Website</a></p>
        </div>

        <div class="contact-item">
            <h3>Anjali Showpiece and Nursery</h3>
            <p>Contact Number: <a href="tel:+09561469668">095614 69668</a></p>
            <p><a href="https://www.google.com/search?client=ms-android-samsung-rvo1&sca_esv=41165fec71bc817d&cs=0&hl=en-IN&output=search&kgmid=%2Fg%2F11s3b56466&q=Anjali%20showpiece%20and%20nursery&shndl=30&source=sh%2Fx%2Floc%2Fact%2Fm1%2F4&kgs=09edf32e5c911d3e" target="_blank">Visit Website</a></p>
        </div>

    </div>

</body>
</html>
